<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/estilos.css">
</head>

<body>
    <h1>Alta de categorías de productos</h1>
    <form id="formulario-categorias" method="POST">
        <label for="nombre">Nombre de la categoría:</label>
        <input type="text" id="nombre" name="nombre" >

        <label for="id">ID:</label>
        <input type="number" id="id" name="id" >

        <button type="submit">Guardar</button>
        <button type="reset" class="cancel">Cancelar</button>
    </form>
    <div class="tag">&copy; Samuel Tocaimaza</div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <!-- JS -->
    <script src="../../assets/js/validaciones.js"></script>

</body>

</html>