* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    background-color: #FFFFFF;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}


select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-bottom: 20px;
}



input,
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-bottom: 20px;
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.cancel {
    background-color: #CCCCCC;
}

.tag {
    text-align: center;
    margin-top: 50px;
}